<ul role="list" id="list-logs" class="divide-y divide-gray-100">
  {{range .Logs}}
  <li class="flex items-center justify-between gap-x-6 py-5">
    <div class="min-w-0">
      <div class="flex items-start gap-x-3">
        <p class="text-sm font-semibold leading-6 text-gray-900">
          {{.NamaProduk}} - {{.Idpel}}
        </p>
      </div>
      <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
        <p class="whitespace-nowrap">{{.TglWaktu}}</p>
        <p class="truncate">{{.Blth}}</p>
      </div>
    </div>
    <div class="flex flex-none items-center gap-x-4">
      <button hx-target="#list-logs" hx-swap="outerHTML transition:true"
        hx-get="/transaksi-log/detail?id={{.Idtrxlog}}&blth={{.Blth}}" type="button"
        class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 block">Log
        Detail
      </button>
    </div>
  </li>
  {{end}}
</ul>
