
<!doctype html>
<html lang="en" class="h-full bg-gray-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>

    <title>{{.PageTitle}}</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.2"
      integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="h-full">
    <div class="min-h-full">
      {{ template "partials/nav" . }}

      <div class="py-10">
        <header>
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex items-center">
            <h1
              class="inline-block text-3xl font-bold leading-tight tracking-tight text-gray-900"
            >
              {{.PageTitle}}
            </h1>
            {{ if ne .AddButtonUrl nil }}
            <a
              href="{{.AddButtonUrl}}"
              class="ml-auto rounded-md bg-green-600 px-2.5 py-1 text-xs font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
            >
              Tambah Data
            </a>
            {{end}}
          </div>
        </header>
        <main>
          <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
            {{template "content" .}}
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
