{{ define "content" }}

<div class="mx-auto max-w-7xl mt-4 py-4 px-4 sm:px-6 lg:px-8 bg-white rounded-md border border-gray-200">
  <form method="post">
    <div class="space-y-12">
      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base font-semibold leading-7 text-gray-900">
          Create Produk</b>
        </h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">
          Isi data sesuai detail produk
        </p>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="kode-produk" class="block text-sm font-medium leading-6 text-gray-900">Kode Produk</label>
            <div class="mt-2">
              <input type="text" name="kode-produk" id="kode-produk"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="nama-produk" class="block text-sm font-medium leading-6 text-gray-900">Nama Produk</label>
            <div class="mt-2">
              <input type="text" name="nama-produk" id="nama-produk"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="nama-produk-display" class="block text-sm font-medium leading-6 text-gray-900">Nama Produk
              Display</label>
            <div class="mt-2">
              <input type="text" name="nama-produk-display" id="nama-produk-display" value=""
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="nama-struk" class="block text-sm font-medium leading-6 text-gray-900">Nama Struk</label>
            <div class="mt-2">
              <input type="text" name="nama-struk" id="nama-struk" value=""
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="nama-struk-singkatan" class="block text-sm font-medium leading-6 text-gray-900">Nama Struk
              Singkatan</label>
            <div class="mt-2">
              <input type="text" name="nama-struk-singkatan" id="nama-struk-singkatan" value=""
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
            </div>
          </div>
          <div class="sm:col-span-3">
            <label for="produk-alias" class="block text-sm font-medium leading-6 text-gray-900">Produk Alias</label>
            <div class="mt-2">
              <input type="text" name="produk-alias" id="produk-alias" value=""
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
            </div>
          </div>
          <div class="sm:col-span-3">
            <label for="produk-group" class="block text-sm font-medium leading-6 text-gray-900">Produk Group</label>
            <div class="mt-2">
              <input type="text" name="produk-group" id="produk-group" value=""
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
            </div>
          </div>
          <div class="sm:col-span-3">
            <label for="label-id" class="block text-sm font-medium leading-6 text-gray-900">Label Idpel</label>
            <div class="mt-2">
              <input type="text" name="label-id" id="label-id" value=""
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <a href="/" class="text-sm font-semibold leading-6 text-gray-900">
        Cancel
      </a>
      <button type="submit"
        class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        Save
      </button>
    </div>
  </form>
</div>

{{ end }}