{{define "content"}}

<div class="mx-auto max-w-7xl mt-4 px-4 sm:px-6 lg:px-8 bg-white rounded-md border border-gray-200">
  <ul role="list" class="divide-y divide-gray-100">
    {{range .Products}}
    <li class="flex items-center justify-between gap-x-6 py-5">
      <div class="min-w-0">
        <div class="flex items-start gap-x-3">
          <p class="text-sm font-semibold leading-6 text-gray-900">{{.KodeProduk}} - {{.NamaProduk}}</p>
        </div>
        <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
          <p class="whitespace-nowrap">{{.ProdukGroup}} </p>
          <p class="truncate">{{.NamaStruk}}</p>
        </div>
      </div>
      <div class="flex flex-none items-center gap-x-4">
        <a href="/detail-product?kode_product={{.KodeProduk}}"
          class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 block"
          >View Product
        </a>
        
      </div>
    </li>
    {{end}}
  </ul>
</div>


{{end}}