{{define "content"}}
<div
  id="detail-provider"
  class="overflow-hidden bg-white shadow sm:rounded-lg mt-4"
>
  <div class="px-4 py-6 sm:px-6">
    <div class="w-full flex">
      <h3 class="text-base font-semibold leading-7 text-gray-900">
        Detail produk provider
      </h3>
      <a
        class="ml-auto rounded-md bg-red-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
        href="/detail-product?kode_product={{.Provider.KodeProduk}}"
      >
        Cancel
      </a>
      <button
        class="ml-4 rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        type="button"
        hx-get="/provider/editor?id={{.IDProvider}}"
        hx-target="#detail-provider"
        hx-swap="outerHTML transition:true"
      >
        Edit
      </button>
    </div>
    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">
      Data detail provider product
    </p>
  </div>
  {{template "detail" .}}
</div>
{{end}}
