{{define "content"}}
<div
  id="edit-form"
  class="mx-auto max-w-7xl mt-4 py-4 px-4 sm:px-6 lg:px-8 bg-white rounded-md border border-gray-200"
>
  <form
    htmx-post="/edit-partner-produk"
    htmx-target="#edit-form"
    htmx-swap="outerHTML transition:true"
  >
    <div class="space-y-12">
      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base font-semibold leading-7 text-gray-900">
          Edit Partner Produk
        </h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">
          Isi data sesuai detail partner produk
        </p>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label
              for="idpartner"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Partner</label
            >
            <div class="mt-2">
              <input
                type="text"
                name="idpartner"
                id="idpartner"
                value="{{.Partner.Idpartner}}"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>

          <div class="sm:col-span-3">
            <label
              for="idmerchant"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Merchant</label
            >
            <div class="mt-2">
              <input
                type="text"
                name="idmerchant"
                id="idmerchant"
                value="{{.Partner.Idmerchant}}"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>

          <div class="sm:col-span-3">
            <label
              for="prioritas"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Prioritas</label
            >
            <div class="mt-2">
              <input
                type="text"
                name="prioritas"
                id="prioritas"
                value="{{.Partner.Prioritas}}"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>

          <div class="sm:col-span-3">
            <label
              for="status"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Status</label
            >
            <div class="mt-2">
              <select
                id="status"
                name="status"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              >
                <option>Pilih salah satu</option>
                <option value="1" {{if eq .Partner.Status 1}} selected {{end}}>
                  Aktif
                </option>
                <option
                  value="-1"
                  {{if
                  eq
                  .Partner.Status
                  -1}}
                  selected
                  {{end}}
                >
                  Non Aktif
                </option>
              </select>
            </div>
          </div>
          <input
            type="hidden"
            name="idproduk"
            id="idproduk"
            value="{{.Idproduk}}"
          />
        </div>
      </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button
        hx-get="/partner-produk?idproduk={{.Idproduk}}"
        hx-target="#edit-form"
        hx-swap="outerHTML transition:true"
        class="text-sm font-semibold leading-6 text-gray-900"
        type="button"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >
        Save
      </button>
    </div>
  </form>
</div>
{{end}}
